[Unit]
Description=Mozilla IoT Gateway Wifi Setup
After=network.target

[Service]
Type=simple
User=root
StandardOutput=journal
StandardError=journal
# Edit this line, if needed, to specify where you installed the server
WorkingDirectory=/root/gateway-wifi-setup
# Edit this line, if needed, to set the correct path to node
ExecStart=/root/gateway-wifi-setup/run.sh 

[Install]
WantedBy=multi-user.target
