{
  "presets": [["env", {"modules": false}]],

  "env": {
    "test": {
      "presets": ["env"],
      "plugins": [
        "dynamic-import-node",
        "transform-object-rest-spread"
      ]
    }
  }
}
