# Standard artifacts
*~
*.swp
.DS_Store
.nyc_output/
.cache-loader/
tmp/

# Build artifacts
/build
node_modules/
static/js/lib/stm_web.min.js
npm-debug.log

# Run-time artifacts
.node-persist/
config/local.js
static/uploads
.post_upgrade_complete

# Test artifacts
/browser-test-output
/browser-test-diff
/browser-test-screenshots
cache_node_modules/
/coverage/
