<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Things Gateway - Choose Web Address</title>
    <link rel="manifest" href="../app.webmanifest">
    <link rel="icon" href="../images/icon.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/css/subdomain-form.css" />
  </head>
  <body>
    <img id="wordmark" src="../images/moziot-wordmark.png" />
    <form id="create-subdomain-form" class="subdomain-form">
      <h1>Welcome</h1>
      <p>Choose a secure web address for your gateway:</p>
      <input type="text" id="subdomain" placeholder="subdomain" required/><div id="label-subdomain">.box.mozilla-iot.org</div>
      <input type="email" id="email" placeholder="Email" required/><br>
      <div id="error-setup" class="error hidden">
        An error occured when setting up the subdomain
      </div><br>
      <!-- https://github.com/mozilla-iot/gateway/issues/159 -->
      <!--<button id="skip-subdomain-button" type="button">Skip</button>-->
      <button id="create-domain-button" type="button">Create</button>
    </form>
    <script src="/js/setup_subdomain.js"></script>
  </body>
</html>
