#add-group {
  background-color: #597285;
  width: 50%;
  min-width: 28rem;
  max-width: 65rem;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  text-align: center;
  flex-wrap: wrap;
  position: relative;
  top: calc(50% - 3.8rem);
  transform: translateY(-50%);
}

#add-group-label {
  flex-basis: 100%;
  flex-grow: 1;
}

#add-group-title-input {
  height: 1.75rem;
  background-color: #d2d9de;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem 10px;
  font-size: 1.6rem;
  flex-grow: 1;
  margin-top: 15px;
}

#add-group-add-button {
  background-color: #7f93a1;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #fff;
  margin-top: 15px;
}
