#add-group-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-group-screen.hidden {
  display: none;
}

#add-group-screen h1 {
  position: fixed;
  top: 0;
  line-height: 9.6rem;
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  width: calc(100% - 18rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#add-group-screen h1 img {
  vertical-align: middle;
  margin-right: 0.3rem;
}

#add-group-form {
  width: calc(100% - 4rem);
  max-width: 48rem;
  padding: 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-color: #597285;
  border-radius: 0.5rem;
}

#add-group-title-input {
  height: 3.2rem;
  flex: 1;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
}

#add-group-create-button {
  height: 3.2rem;
  font-size: 1.5rem;
  margin: 0 0 0 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: #7f93a1;
}

#add-group-create-button:hover,
#add-group-create-button:active {
  background-color: #97aebf;
}

@media only screen and (max-width: 959px) {
  #add-group-form {
    flex-direction: column;
  }

  #add-group-title-input {
    flex: none;
  }

  #add-group-create-button {
    margin: 2rem auto 0 auto;
    width: 9rem;
  }
}
