/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
#add-thing-content {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.new-thing-save-button {
  height: 4rem;
  background-color: #7f93a1;
  margin: 1.25rem 0;
}

.new-thing-save-button:disabled, .new-thing-save-button:disabled:hover,
.new-thing-save-button:hover:active {
  background-color: #597285;
}

.spinner {
  width: 3.2rem;
  height: 3.2rem;
  margin: 1rem;
  vertical-align: middle;
}

#new-things {
  margin: 2rem auto;
}

.new-thing {
  background-color: #597285;
  width: 50%;
  height: 6.5rem;
  min-width: 28rem;
  max-width: 65rem;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
}

.new-thing-icon {
  width: 6.4rem;
  height: 6.4rem;
  background-image: url('../images/unknown-thing.png');
  background-size: 6.4rem;
}

.new-thing-metadata {
  flex: 1;
  padding: 1rem;
}

.new-thing-name {
  display: block;
  width: calc(100% - 2rem);
}

.new-thing-name:disabled {
  background-color: #597285;
  color: #fff;
  padding: 0;
}

.new-thing-type {
  display: block;
  text-align: left;
  color: #ccc;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.new-thing.on-off-switch .new-thing-icon {
  background-image: url('../images/on-off-switch.png');
}

.new-thing.binary-sensor .new-thing-icon {
  background-image: url('../images/binary-sensor.png');
}
