/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
#add-thing-content {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100%;
}

#add-adapters-hint.hidden,
#add-thing-status.hidden {
  display: none;
}

#add-adapters-hint-anchor:link,
#add-adapters-hint-anchor:visited,
#add-adapters-hint-anchor:hover,
#add-adapters-hint-anchor:active {
  color: #fff;
}

.new-web-thing-cancel-button,
.new-web-thing-submit-button,
.new-web-thing-save-button,
.new-thing-cancel-button,
.new-thing-submit-button,
.new-thing-save-button {
  height: 4rem;
  background-color: #7f93a1;
  margin: 1.25rem 0;
}

.new-web-thing-cancel-button:disabled,
.new-web-thing-cancel-button:disabled:hover,
.new-web-thing-cancel-button:hover:active,
.new-web-thing-submit-button:disabled,
.new-web-thing-submit-button:disabled:hover,
.new-web-thing-submit-button:hover:active,
.new-web-thing-save-button:disabled,
.new-web-thing-save-button:disabled:hover,
.new-web-thing-save-button:hover:active,
.new-thing-cancel-button:disabled,
.new-thing-cancel-button:disabled:hover,
.new-thing-cancel-button:hover:active,
.new-thing-submit-button:disabled,
.new-thing-submit-button:disabled:hover,
.new-thing-submit-button:hover:active,
.new-thing-save-button:disabled,
.new-thing-save-button:disabled:hover,
.new-thing-save-button:hover:active {
  background-color: #597285;
}

.spinner {
  width: 3.2rem;
  height: 3.2rem;
  margin: 1rem;
  vertical-align: middle;
}

#new-things {
  margin: 2rem auto;
}

.new-thing {
  background-color: #597285;
  width: 50%;
  min-width: 28rem;
  max-width: 65rem;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
}

.new-thing-icon {
  width: 6.4rem;
  height: 6.4rem;
  background-image: url('../optimized-images/unknown-thing.png');
  background-size: 6.4rem;
}

.new-thing-metadata {
  flex: 1;
  padding: 1rem 1rem 0 1rem;
  text-align: left;
}

.new-web-thing-url,
.new-web-thing-name,
.new-thing-initial-name,
.new-thing-pin-error,
.new-thing-name {
  display: block;
  width: calc(100% - 1rem);
}

.new-thing-pin {
  width: 14rem;
}

.new-web-thing-url:disabled,
.new-web-thing-name:disabled,
.new-thing-name:disabled {
  background-color: #597285;
  color: #fff;
  padding: 0;
}

.new-thing-type {
  display: block;
  text-align: left;
  color: #ccc;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.new-thing-pin-error,
.new-thing-type.error {
  color: orange;
}

.new-web-thing-origin {
  display: inline-block;
  float: left;
  color: #ccc;
  margin-top: -1rem;
  font-size: 1.3rem;
}

.new-thing.pin-required .new-thing-icon {
  background-image: url('../optimized-images/security-icon.svg');
}

.new-thing.on-off-switch .new-thing-icon {
  background-image: url('../optimized-images/on-off-switch.png');
}

.new-thing.binary-sensor .new-thing-icon {
  background-image: url('../optimized-images/binary-sensor.png');
}

.new-thing.on-off-light .new-thing-icon {
  background-image: url('../optimized-images/bulb.png');
}

.new-thing.smart-plug .new-thing-icon {
  background-image: url('../optimized-images/smart-plug.svg');
}

.new-thing.web-thing .new-thing-icon {
  background-image: url('../optimized-images/web-thing-icon.svg');
}

#add-by-url-anchor:link,
#add-by-url-anchor:visited,
#add-by-url-anchor:hover,
#add-by-url-anchor:active {
  color: #ccc;
}

#add-by-url-anchor.hidden,
.new-thing-pin-error.hidden,
.new-thing .hidden {
  display: none;
}

.new-web-thing-controls {
  text-align: right;
  margin-top: -4rem;
}
