  .addons-form {
    top: 50%;
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    min-width: 28rem;
    max-width: 38rem;
    margin: 0 auto;
  }
  
  .addons-form legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    line-height: inherit;
    border: 0;
    border-bottom: 1px solid #fff;
 }

  .addons-form fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  .addons-form .form-group {
    margin-bottom: 1.5rem;
  }

  .addons-form .control-label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .addons-form .field-description {
    margin-top: 0rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .addons-form .form-control {
    display: block;
    width: 100%;
    height: 3rem;
    background-color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .addons-form .checkbox{
    height: 2.3rem;
    line-height: 2.3rem;
    margin-bottom: 0.5rem;
  }

  .addons-form input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin-left: 0rem;
  }

  .addons-form .checkbox-title{
    display: inline-block;
    vertical-align: middle;
  }

  .addons-form .title {
    font-size: 1.3rem;
    display: block;
    width: 12.8rem;
    height: 3.6rem;
    overflow: hidden;
    margin: 0.5rem 0;
  }
  
  .addons-form .btn-form-tools:hover:enabled, button:active:enabled {
    background-color: #658196;
  }
  
  .addons-form .btn-form-tools::-moz-focus-inner {
    border: 0;
  }

  .addons-form .btn-form-tools {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0;
    background-color: #597285;
    color: #fff;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    cursor: pointer;
  }

  .addons-form .btn-add {
    background-image: url('../images/add_arrayfield.svg');
  }

  .addons-form .btn-remove {
    background-image: url('../images/clear_arrayfield.svg');
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
  }

  .addons-form .array-item-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.5rem;
    grid-auto-rows: minmax(3rem, auto);
  }

  .addons-form .array-item-col {
    grid-column: span 6;
    grid-row: 1;
  }

  .addons-form .array-item-col-field {
    grid-column-start: span 5;
    grid-row: 1;
  }

  .addons-form .array-item-col-tool {
    position: relative;
    grid-column: 6;
    grid-row: 1;
  }
