/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
@font-face {
  font-family: 'Zilla Slab';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/ZillaSlab-Regular.woff2") format("woff2"), url("/fonts/ZillaSlab-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Zilla Slab';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/ZillaSlab-Bold.woff2") format("woff2"), url("/fonts/ZillaSlab-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Zilla Slab';
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/ZillaSlab-RegularItalic.woff2") format("woff2"), url("/fonts/ZillaSlab-RegularItalic.woff") format("woff");
}
@font-face {
  font-family: 'Zilla Slab';
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/ZillaSlab-BoldItalic.woff2") format("woff2"), url("/fonts/ZillaSlab-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/opensans-regular.woff2") format("woff2"), url("/fonts/opensans-regular.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/opensans-bold.woff2") format("woff2"), url("/fonts/opensans-bold.woff") format("woff");
}

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  padding: 2rem;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: #5d9bc7;
}

section {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 32rem;
  min-height: 32rem;
}

section.selected {
  display: block;
}

input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"] {
  height: 1.75rem;
  background-color: #d2d9de;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1.6rem;
}

.text-button {
  background-color: #597285;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #fff;
}

.text-button:hover, .text-button:active {
  background-color: #658196;
}

.text-button:disabled  {
  background-color: #8dbee0;
}

.text-button::-moz-focus-inner {
  border: 0;
}

.icon-button {
  position: fixed;
  width: 5.6rem;
  height: 5.6rem;
  padding: 0;
  background-color: transparent;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  z-index: 100;
  cursor: pointer;
}

.icon-button::-moz-focus-inner {
  border: 0;
}

.icon-button:hover, .icon-button:active {
  opacity: 1;
}

.icon-button.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Zilla Slab', 'Open Sans', sans-serif;
}

#wordmark {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  width: 12.5rem;
}

#speech-button {
  right: 2rem;
  background-image: url('../images/microphone.svg');
  top: 2rem;
}

#speech-wrapper {
  box-sizing: border-box;
  z-index: 0;
  position: fixed;
  right: 0rem;
  top: 0rem;
}

#speech-wrapper.hidden {
  display: none;
}

#stm-levels {
  display: block;
  height: 20rem;
  width: 20rem;
}

#stm-levels.hidden {
  display: none;
}

#menu-button,
#back-button {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 5.6rem;
  height: 5.6rem;
  padding: 0;
  background-color: transparent;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  cursor: pointer;
}

#menu-button {
  background-image: url('../images/menu.svg');
}

#back-button {
  background-image: url('../images/back.png');
}

#menu-button.hidden,
#back-button.hidden {
  display: none;
}

#menu-button::-moz-focus-inner,
#back-button::-moz-focus-inner {
  border: 0;
}

#menu-button:hover,
#back-button:hover,
#add-button:active,
#create-rule-button:active,
#discover-addons-button:active {
  opacity: 1;
}

/* Dialog */
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #305067;
  font-size: 1.6rem;
  color: #fff;
  overflow: auto;
}

.dialog.hidden {
  display: none;
}

.back-button {
  top: 2rem;
  left: 2rem;
  background-image: url('../images/back.png');
}

#snackbar {
    visibility: hidden;
    left:50%;
    margin-left: -175px;
    width: 350px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.switch {
}

.switch-checkbox {
  display: none;
}

.switch-slider {
  display: block;
  width: 5.5rem;
  height: 2.2rem;
  border-radius: 1.1rem;
  background: #5d9bc7;
  cursor: pointer;
  transition: 0.1s;
}

.switch-slider:after {
  display: block;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: white;
  transform: translate(0.35rem, 0.35rem);
  transition: 0.1s;
}

input:checked + .switch-slider:after {
  transform: translate(3.65rem, 0.35rem);
}

body.hidden {
  visibility: hidden;
}
