/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
#assistant-view {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#assistant-content,
#assistant-controls {
  width: calc(100% - 4rem);
  margin: 0;
}

#assistant-content {
  height: calc(100% - 12rem);
  margin-bottom: 2rem;
  display: flex;
}

#assistant-controls {
  height: 10rem;
  text-align: center;
  position: absolute;
  bottom: 4rem;
  transform: translateY(50%);
  padding-left: 1rem;
}

#assistant-messages {
  flex: 1;
  text-align: right;
  padding-right: 4rem;
  max-height: calc(100% - 8rem);
  position: relative;
  top: 8rem;
  overflow: auto;
}

.assistant-message-outgoing,
.assistant-message-incoming {
  position: relative;
  text-align: left;
  background-color: #c8ddec;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 40rem;
  font-size: 1.6rem;
  margin-left: auto;
}

.assistant-message-outgoing::after,
.assistant-message-incoming::after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  bottom: 0.5rem;
  border-color: transparent #c8ddec;
}

.assistant-message-outgoing::after {
  border-width: 1.2rem 2rem 0 0;
  left: -2rem;
}

.assistant-message-incoming::after {
  border-width: 1.2rem 0 0 2rem;
  right: -2rem;
}

#assistant-avatar {
  flex: 1;
  padding-left: 2rem;
  background-image: url('/optimized-images/fox.svg');
  background-repeat: no-repeat;
  background-position: 4rem center;
  background-size: 50%;
}

@media only screen and (min-width: 1000px) {
  #assistant-avatar {
    background-size: 20rem;
  }
}

#assistant-speech-button {
  background-image: url('/optimized-images/microphone.svg');
  background-color: #5d9bc7;
  opacity: 1;
  z-index: 10;
  border-radius: 2.8rem;
  position: absolute;
  bottom: 4.8rem;
  margin-left: -2.8rem;
}

#assistant-text-input {
  width: calc(100% - 8rem);
  max-width: 50rem;
  padding: 1rem 3rem;
}

#assistant-text-submit {
  width: 2.8rem;
  height: 2.8rem;
  margin-left: -2.8rem;
  background-image: url('/optimized-images/input-arrow.svg');
  background-position: right 0.5rem center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  bottom: 6.2rem;
}
