body {
  background: #305067;
}

body.hidden {
  visibility: hidden;
}

#authorize-view {
  overflow: auto;
}

.title-bar {
  text-align: center;
  width: 100%;
  height: 9.6rem;
  font-size: 1.8rem;
  color: white;
}

.title-bar > h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;

  padding: 0;
  margin: 0 auto;
  display: inline-block;
  line-height: 9.6rem;

  padding-left: 6.8rem;
  background-size: 3.2rem;
  background-repeat: no-repeat;
  background-position: 2rem;
  background-image: url('../optimized-images/authorization.svg');
}

#authorize-form {
  text-align: center;
  color: white;
  font-size: 1.8rem;
  max-width: 60rem;
  margin: 0 auto;
}

.text-button {
  display: inline-block;
  padding: 2rem;
  padding-left: 6.8rem;
  font-size: 1.8rem;
  text-decoration: none;
  background-size: 3.2rem;
  background-repeat: no-repeat;
  background-position: 2rem;
  line-height: 2.5rem;
  margin: 1rem;
  outline: 0;
  border: 0;
}

#cancel-button {
  background-image: url('../optimized-images/close-16.svg');
}

#authorize-button {
  background-image: url('../optimized-images/check-16.svg');
}

.generic-checkbox + label::before {
  float: none;
  position: relative;
  top: 0.8rem;
  left: -0.1rem;
}

#authorize-things {
  text-align: left;
  list-style: none;
  display: block;
}

.authorize-all-things {
  padding-bottom: 1.6rem;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #d9dee3;
}

.authorize-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;

  background: none;
  color: white;
  border: 0;
  font-size: 1.8rem;
}

.authorize-select-container {
  position: relative;
  display: inline-block;
  border-bottom: 2px solid white;
}

.authorize-select-container:after {
  border-top: 0.6rem solid white;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  content: '';
  position: absolute;
  transform: translate(-50%, 0.2rem);
  top: 100%;
  left: 50%;
  height: 0;
  width: 0;
}
