/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
#home-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#wordmark {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 12.5rem;
}

#things {
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#add-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 6.4rem;
  height: 6.4rem;
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url('../images/add.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}

#add-button:hover, #add-button:active {
  opacity: 1;
}
