/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
body {
  padding: 0;
  background-color: #305067;
  color: #fff;
}

.user-form {
  top: 50%;
  transform: translateY(calc(-50% - 4rem));
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  width: 50%;
  min-width: 28rem;
  max-width: 35rem;
  margin: 0 auto;
}

.user-form input {
  display: block;
  width: calc(100% - 4rem);
  margin: 1rem;
}

#login-button, #create-user-button {
  display: block;
  margin: 1rem auto;
}
