/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#settings {
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
