/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#settings-view {
  background-color: #5d9bc7;
  height: 100%;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  box-sizing: border-box;
  overflow: auto;
}

#settings-menu {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  transition: transform 0.25s ease;
  width: 100%;
  margin: 0 auto;
  max-height: 100%;
}

#settings-menu.hidden {
  transform: translate(-100%, -50%);
}

#settings-menu ul {
  box-sizing: border-box;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
}

.settings-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #48779a;
  border-radius: 0.5rem;
  background-image: url('../images/right-arrow.png');
  background-size: auto 2rem;
  background-repeat: no-repeat;
  background-position: right 1rem center;
}

.settings-item a {
  display: block;
  margin: 1rem 0;
  padding: 2rem 2rem 2rem 5.5rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  background-position: 1rem;
  background-size: 3.2rem;
  background-repeat: no-repeat;
  outline: 0;
}

#domain-settings-link {
  background-image: url('../images/domain-icon.png');
}

#user-settings-link {
  background-image: url('../images/users-icon.png');
}

#adapter-settings-link {
  background-image: url('../images/adapters-icon.png');
}

#addon-settings-link {
  background-image: url('../images/add-on.svg');
}

#experiment-settings-link {
  background-image: url('../images/experiments-icon.png');
}

#update-settings-link {
  background-image: url('../images/update-icon.svg');
}

#authorization-settings-link {
  background-image: url(/images/authorization.svg);
}

.settings-section {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.25s ease;
  padding: 1.5rem;
  box-sizing: border-box;
  overflow: auto;
}

.settings-section.hidden {
  transform: translateX(100%);
}

.settings-subsection {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

.settings-subsection.hidden {
  display: none;
}

.settings-container {
  position: relative;
  color: #fff;
  background-color: #48779a;
  border-radius: 0.5rem;
  padding: 2rem;
  color: #fff;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  max-width: 60rem;
  margin: 0 auto;
}

#user-settings ul,
#adapter-settings ul,
#addon-settings ul,
#experiment-settings ul,
#update-settings ul,
#authorization-settings ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
  max-height: 100%;
}

#user-settings ul li:last-child,
#adapter-settings ul li:last-child,
#addon-settings ul li:last-child,
#experiment-settings ul li:last-child,
#update-settings ul li:last-child {
  margin-bottom: 3rem;
}

#no-adapters,
#no-authorizations {
  text-align: center;
  position: relative;
  top: 50%;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
  color: white;
  font-size: 2rem;
}

#no-adapters.hidden,
#no-authorizations.hidden {
  display: none;
}

.experiment-item, .update-item, .authorization-item {
  display: block;
  margin: 1rem 0;
  font-size: 1.8rem;
  padding: 2rem 2rem 2rem 5.5rem;
  list-style-type: none;
  background-color: #48779a;
  color: #fff;
  border-radius: 0.5rem;
  background-position: 1rem;
  background-size: 3.2rem;
  background-repeat: no-repeat;
}

.user-item,
.adapter-item,
.addon-item,
.authorization-item,
.discovered-addon-item {
  display: block;
  font-size: 1.8rem;
  list-style-type: none;
  color: #fff;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.user-item,
.adapter-item,
.addon-item,
.authorization-item {
  background-color: #5288af;
}

.discovered-addon-item {
  background-color: #597285;
}

.user-settings-header,
.adapter-settings-header,
.addon-settings-header {
  padding: 2rem 2rem 0.5rem 6.5rem;
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: 1.8rem 2.8rem;
}

.user-settings-header {
  background-image: url('../images/user.svg');
}

.adapter-settings-header {
  background-image: url('../images/adapter-icon.png');
}

.addon-settings-header {
  background-image: url('../images/add-on.svg');
}

.user-settings-name,
.adapter-settings-name {
  display: block;
}

.addon-settings-version {
  float: right;
}

.addon-updating {
  margin-right: .8rem;
}

.user-settings-description,
.adapter-settings-description,
.addon-settings-description {
  display: block;
  color: #ccc;
}

.addon-settings-author {
  font-size: 1.4rem;
  font-style: italic;
  color: #ccc
}

.addon-settings-author a:link,
.addon-settings-author a:visited,
.addon-settings-author a:hover,
.addon-settings-author a:active {
  color: #fff;
}

.user-settings-controls,
.adapter-settings-controls,
.addon-settings-controls {
  padding: 0rem 1rem 1rem 1rem;
  text-align: right;
}

.user-settings-controls button,
.adapter-settings-controls button,
.addon-settings-controls button {
  font-size: 1.8rem;
}

.user-settings-edit,
.user-settings-remove,
.adapter-settings-disable,
.adapter-settings-enable,
.addon-settings-disable,
.addon-settings-enable,
.addon-discovery-settings-add,
.addon-discovery-settings-installing,
.addon-discovery-settings-install-failed,
.addon-settings-remove {
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 0.5em;
  padding-left: 4rem;
}

.user-settings-edit,
.user-settings-remove,
.adapter-settings-disable,
.adapter-settings-enable,
.addon-settings-update,
.addon-settings-disable,
.addon-settings-enable,
.addon-settings-remove {
  background-color: #48779a;
}

.addon-discovery-settings-add {
  background-color: #7f93a1;
}

.addon-settings-update {
  background-size: 3rem;
  background-repeat: no-repeat;
  background-position: 0.5em;
  padding-left: 4rem;
  margin-right: .8rem;
  background-image: url('../images/update-icon.svg');
}

.addon-settings-update.hidden {
  display: none;
}

.adapter-settings-disable,
.addon-settings-disable {
  background-image: url('../images/disable.svg');
}

.adapter-settings-enable,
.addon-settings-enable {
  background-image: url('../images/enable.svg');
}

.user-settings-edit {
  background-image: url('../images/edit-plain.svg');
}

.addon-settings-remove,
.user-settings-remove {
  margin-right: .8rem;
  background-image: url('../images/remove.svg');
}

.addon-discovery-settings-add {
  background-image: url('../images/new.svg');
}

#add-user-button,
#discover-addons-button {
  bottom: 2rem;
  right: 2rem;
  background-image: url('../images/add.svg');
}

#user-settings-edit,
#user-settings-add,
#addon-discovery-settings {
  background-color: #305067;
}

.update-item {
  padding: 2rem;
}

:root .experiment-checkbox {
  /* original check box is pushed outside the viewport */
  position: absolute;
  left: -1000em;
}

:root .experiment-checkbox + label:before {
  content: "";
  display: inline-block;
  width  : 3rem;
  height : 3rem;
  float: right;
  margin : 0.1rem 0;
  background: url("../images/checkbox-sprite.png") no-repeat 0 0;
  background-size: 3rem auto;
}

:root .experiment-checkbox:checked + label:before {
  background-position: 0 -3rem;
}

:root .experiment-checkbox:disabled + label:before {
  background-position: 0 -6rem;
}

:root .experiment-checkbox:checked:disabled + label:before {
  background-position: 0 -9rem;
}

#floorplan-experiment-item {
  background-image: url('../images/floorplan-icon.png');
}

#speech-experiment-item {
  background-image: url('../images/speech-icon.png');
}

#rules-experiment-item {
  background-image: url('../images/rules-icon.png');
}

#update-now.hidden {
  display: none;
}

#update-settings > .settings-container {
  font-size: 1.8rem;
}

#up-to-date-container {
  display: flex;
  justify-content: space-between;
}

#update-now {
  font-size: 1.8rem;
  padding: 1.8rem;
  margin-left: 1rem;
  background: #305067;
}

#update-settings-up-to-date {
}

.authorization-item {
  position: relative;
  padding-left: 12rem;
  background-image: url(/images/authorization.svg);
  background-size: 8rem auto;
  background-repeat: no-repeat;
  background-position: left 2rem center;
}

.revoke-button {
  position: absolute;
  right: 2rem;
  padding-left: 2.8rem;
  font-size: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #48779a;

  background-image: url(/images/stop-16.svg);
  background-position: 1rem;
  background-size: 1.2rem;
  background-repeat: no-repeat;
}

.origin {
  color: rgba(255, 255, 255, 0.7);
}

.user-form {
  top: 50%;
  transform: translateY(calc(-50% - 6rem));
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  width: 50%;
  min-width: 28rem;
  max-width: 38rem;
  margin: 0 auto;
}

.user-form input {
  display: block;
  width: 18rem;
  margin: 1rem;
}

.user-settings-save {
  display: block;
  margin: 1rem auto;
}

.user-form .error {
  color: orange;
}

.user-form input[type="text"],
.user-form input[type="password"],
.user-form input[type="email"] {
  height: 2.3rem;
  background-color: #d2d9de;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem auto;
}

.user-form button {
  font-size: 1.6rem;
  background-color: #597285;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 4rem;
  color: #fff;
}

.user-form button:hover,
.user-form button:active {
  background-color: #658196;
}

.user-form button::-moz-focus-inner {
  border: 0;
}

.user-form .hidden {
  display: none;
}
