/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#settings-menu {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  transition: transform 0.25s ease;
  width: 100%;
  margin: 0 auto;
}

#settings-menu.hidden {
  transform: translate(-100%, -50%);
}

#settings-menu ul {
  box-sizing: border-box;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
}

.settings-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #48779a;
  border-radius: 0.5rem;
  background-image: url('../images/right-arrow.png');
  background-size: auto 2rem;
  background-repeat: no-repeat;
  background-position: right 1rem center;
}

.settings-item a {
  display: block;
  margin: 1rem 0;
  padding: 2rem 2rem 2rem 5.5rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  background-position: 1rem;
  background-size: 3.2rem;
  background-repeat: no-repeat;
  outline: 0;
}

#domain-settings-link {
  background-image: url('../images/domain-icon.png');
}

#user-settings-link {
  background-image: url('../images/users-icon.png');
}

#adapter-settings-link {
  background-image: url('../images/extensions.svg');
}

#experiment-settings-link {
  background-image: url('../images/experiments-icon.png');
}

#update-settings-link {
  background-image: url('../images/update-icon.svg');
}

.settings-section {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.25s ease;
  padding: 1.5rem;
  box-sizing: border-box;
}

.settings-section.hidden {
  transform: translateX(100%);
}

.settings-container {
  position: relative;
  color: #fff;
  background-color: #48779a;
  border-radius: 0.5rem;
  padding: 2rem;
  color: #fff;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  max-width: 60rem;
  margin: 0 auto;
}

#current-user-name {
  display: block;
}

#current-user-email {
  display: block;
  color: #ccc;
}

#adapter-settings ul, #experiment-settings ul, #update-settings ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
}

.experiment-item, .update-item {
  display: block;
  margin: 1rem 0;
  font-size: 1.8rem;
  padding: 2rem 2rem 2rem 5.5rem;
  list-style-type: none;
  background-color: #48779a;
  color: #fff;
  border-radius: 0.5rem;
  background-position: 1rem;
  background-size: 3.2rem;
  background-repeat: no-repeat;
}

.adapter-item {
  display: block;
  font-size: 1.8rem;
  list-style-type: none;
  background-color: #48779a;
  color: #fff;
  border-radius: 0.5rem;
}

.adapter-settings-header {
  margin: 1rem 0;
  padding: 2rem 2rem 0.5rem 6.5rem;
  background-image: url('../images/extensions.svg');
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: 1.8rem 2.8rem;
}

.adapter-settings-description {
  color: #ccc;
}

.adapter-settings-controls {
  padding: 0rem 1rem 1rem 1rem;
  text-align: right;
}

.adapter-settings-controls button {
  font-size: 1.8rem;
}

.adapter-settings-disable,
.adapter-settings-enable {
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 0.5em;
  padding-left: 3rem;
}

.adapter-settings-disable {
  background-image: url('../images/pause.svg');
}

.adapter-settings-enable {
  background-image: url('../images/play.svg');
}

.update-item {
  padding: 2rem;
}

:root .experiment-checkbox {
  /* original check box is pushed outside the viewport */
  position: absolute;
  left: -1000em;
}

:root .experiment-checkbox + label:before {
  content: "";
  display: inline-block;
  width  : 3rem;
  height : 3rem;
  float: right;
  margin : 0.1rem 0;
  background: url("../images/checkbox-sprite.png") no-repeat 0 0;
  background-size: 3rem auto;
}

:root .experiment-checkbox:checked + label:before {
  background-position: 0 -3rem;
}

:root .experiment-checkbox:disabled + label:before {
  background-position: 0 -6rem;
}

:root .experiment-checkbox:checked:disabled + label:before {
  background-position: 0 -9rem;
}

#floorplan-experiment-item {
  background-image: url('../images/floorplan-icon.png');
}

#speech-experiment-item {
  background-image: url('../images/speech-icon.png');
}

#rules-experiment-item {
  background-image: url('../images/rules-icon.png');
}

#update-now.hidden {
  display: none;
}

#update-settings > .settings-container {
  font-size: 1.8rem;
}

#up-to-date-container {
  display: flex;
  justify-content: space-between;
}

#update-now {
  font-size: 1.8rem;
  padding: 1.8rem;
  margin-left: 1rem;
  background: #305067;
}

#update-settings-up-to-date {
}
