/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
body {
  padding: 0;
  background-color: #305067;
  color: #fff;
}

.subdomain-form {
  top: 50%;
  transform: translateY(calc(-50% - 6rem));
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  width: 50%;
  min-width: 28rem;
  max-width: 38rem;
  margin: 0 auto;
}

.subdomain-form input {
  display: inline-block;
  width: 18rem;
  margin: 1rem;
}

#skip-subdomain-anchor {
  text-decoration: none;
}

#skip-subdomain-anchor:link,
#skip-subdomain-anchor:visited,
#skip-subdomain-anchor:hover,
#skip-subdomain-anchor:active {
  color: #fff;
}

#create-domain-button {
  display: inline-block;
  margin: 1rem auto;
}

#create-domain-button:disabled,
#create-domain-button:disabled:hover,
#create-domain-button:hover:active {
  background-color: #658196;
}

#label-subdomain {
  display: inline-block;
  padding-left: 0.5rem;
}

#reclamation-token {
  display: none;
}

.error {
  color: orange;
}

.error a {
  color: orange;
}

.hidden {
  display: none;
}

h1 {
  font-size: 3rem;
  font-style: italic;
  font-weight: lighter;
  line-height: 1.6rem;
}

p {
  font-weight: lighter;
  padding-bottom: 0.6rem;
}

input[type="text"], input[type="email"] {
  height: 2.3rem;
  background-color: #d2d9de;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem auto;
}

button {
  font-size: 1.6rem;
  background-color: #597285;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 4rem;
  color: #fff;
}

button:hover:enabled, button:active:enabled {
  background-color: #658196;
}

button::-moz-focus-inner {
  border: 0;
}

#opt-in-group {
  padding-top: 2rem;
  display: table;
  width: 100%;
}

#opt-in {
  position: absolute;
  left: -1000em;
}

#opt-in + label:before {
  content: "";
  display: table-cell;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  margin: 0.1rem 0;
  background: url("../optimized-images/checkbox-sprite.png") no-repeat 0 0;
  background-size: 3rem auto;
}

#opt-in:checked + label:before {
  background-position: 0 -3rem;
}

#opt-in:disabled + label:before {
  background-position: 0 -6rem;
}

#opt-in:checked:disabled + label:before {
  background-position: 0 -9rem;
}

#opt-in-group > label {
  margin: 2rem;
}

#opt-in-info {
  text-align: left;
  display: table-cell;
  font-size: 1.4rem;
  vertical-align: middle;
  padding-left: 2rem;
}

#opt-in-info > a:link,
#opt-in-info > a:visited,
#opt-in-info > a:hover,
#opt-in-info > a:active {
  color: white;
}
