/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.thing {
  width: 12.8rem;
  text-align: center;
  margin: 1rem;
  display: inline-block;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  vertical-align: bottom;
}

.thing-icon {
  display: block;
  width: 12.8rem;
  height: 12.8rem;
  background-size: 12.8rem;
  background-repeat: no-repeat;
  background-image: url('../images/unknown-thing.png');
}

.thing-detail-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5rem;
  margin-top: -5rem;
}

.thing-detail {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  border: 2px solid white;
  background: #88B6D6;
  position: relative;
}

.thing-detail-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thing-detail-label {
  text-align: center;
  max-width: 10rem;
  overflow-wrap: break-word;
  background: #5d9bc7;
  display: inline-block;
}

.thing-name {
  color: white;
  font-size: 1.3rem;
  display: block;
  width: 12.8rem;
  height: 3.6rem;
  overflow: hidden;
  margin: 0.5rem 0;
}

/* On/Off Switch */

.on-off-switch .thing-icon {
  background-image: url('../images/on-off-switch.png');
}

.on-off-switch.on .thing-icon {
  background-image: url('../images/on-off-switch-on.png');
}

.on-off-switch.off .thing-icon {
  background-image: url('../images/on-off-switch-off.png');
}

/* Binary Sensor */

.binary-sensor .thing-icon {
  background-image: url('../images/binary-sensor.png');
}

.binary-sensor.on .thing-icon {
  background-image: url('../images/binary-sensor-on.png');
}

.binary-sensor.off .thing-icon {
  background-image: url('../images/binary-sensor-off.png');
}

/* Multi Level Sensor */

.multi-level-sensor-text {
  box-sizing: border-box;
  display: inline-block;
  width: 12.8rem;
  height: 12.8rem;
  padding-top: 4.2rem;
  border-radius: 6.4rem;
  border: 2px solid white;
  text-align: center;
  transform: translate(0, 0); /* promote to layer to draw above links */

  font-size: 2.8rem;
  font-weight: bold;
  background: #fff;
  color: #5d9bc7;
}

/* On/Off Light */

.on-off-light .thing-icon {
  background-image: url('../images/bulb.png');
}

.on-off-light.on .thing-icon {
  background-image: url('../images/bulb-on.png');
}

.on-off-light.off .thing-icon {
  background-image: url('../images/bulb-off.png');
}

/* Color Light */

.on-off-label, .color-light-label {
  text-transform: uppercase;
  font-weight: bold;
}

.on-off-label {
  padding-top: 0.5rem;
}

.on .on-off-switch-switch {
  background: white;
  color: #5d9bc7;
}

.color-light-icon-path {
  fill: #fff;
  stroke: #fff;
}

.color-light.bright-color .color-light-icon-path {
  stroke: #666;
}

.on .color-light {
  color: #5d9bc7;
}

.unknown-thing,
.dimmable-light,
.color-light,
.level-bar-container {
  box-sizing: border-box;
  display: block;
  width: 12.8rem;
  height: 12.8rem;
  border-radius: 6.4rem;
  border: 2px solid white;
  text-align: center;
  transform: translate(0, 0); /* promote to layer to draw above links */

  background: #88b6d6;
}

.unknown-thing img,
.dimmable-light-icon,
.color-light-icon,
.thing-detail-layout-links,
.level-bar-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.unknown-thing-icon {
  display: block;
  width: 12.8rem;
  height: 12.8rem;
}

.thing-detail-layout-link {
  stroke: white;
  stroke-width: 2px;
}

.level {
  width: 8rem;
  height: 8rem;
}

.level-input {
  width: 8rem;
  margin: 0;
  transform: rotate(-90deg) translate(-3rem, 0);
}

.level-bar-container {
  background: #88b6d6;
}

.on .level-bar-container,
.on .dimmable-light {
  background: white;
  color: #5d9bc7;
}

.level-bar {
  width: 1rem;
  height: 8rem;
  border-radius: 0.6rem;
  border: 0.2rem solid white;
  margin: 0 auto;
}

.on .level-bar {
  border-color: #5d9bc7;
}

.level-bar-label {
  padding-top: 0.2rem;
  font-weight: bold;
}

#thing-title.hidden {
  display: none;
}

#thing-title {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 1.8rem;
}

#thing-title-icon {
  height: 4rem;
  position: relative;
  top: 1.3rem;
  padding-right: 1rem;
}

#thing-title-name {
  font-size: 1.6rem;
  color: #fff;
}

.dimmable-light {
  background: #88b6d6;
  fill: #fff;
}

.dimmable-light.on {
  background: #fff;
  fill: #5d9bc7;
}

/* Smart Plug */
.smart-plug .thing-icon, .smart-plug-container .thing-icon {
  box-sizing: border-box;
  display: block;
  width: 12.8rem;
  height: 12.8rem;
  border-radius: 6.4rem;
  border: 2px solid white;
  text-align: center;
  transform: translate(0, 0); /* promote to layer to draw above links */
  background-color: #89b6d6;
  background-size: 6.4rem;
  background-position: center 2rem;
  background-image: url('../images/smart-plug-off.svg');
}

.on .smart-plug .thing-icon, .smart-plug-container.on .thing-icon {
  background-image: url('../images/smart-plug-on.svg');
  background-color: #ffffff;
}

.off .smart-plug .thing-icon, .smart-plug-container.off .thing-icon {
  background-image: url('../images/smart-plug-off.svg');
}

.smart-plug-label {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  padding-top: 8.75rem;
}

.on .smart-plug .smart-plug-label, .smart-plug-container.on .smart-plug-label {
  color: #5d9bc7;
}

.generic-label {
  font-weight: bold;
}

.generic-string-input,
.generic-number-input {
  width: 6rem;
  text-align: center;
  color: #333;
}

.hide-number-spinner::-webkit-inner-spin-button,
.hide-number-spinner::-webkit-outer-spin-button {
  -webkit-appearance: textfield;
 }

.hide-number-spinner {
  -moz-appearance: textfield;
}

.generic-checkbox {
  position: absolute;
  left: -1000em;
}

.generic-checkbox + label:before {
  content: "";
  display: inline-block;
  width  : 3rem;
  height : 3rem;
  float: right;
  margin : 0.1rem 0;
  background: url("../images/checkbox-sprite.png") no-repeat 0 0;
  background-size: 3rem auto;
}

.generic-checkbox:checked + label:before {
  background-position: 0 -3rem;
}

.generic-checkbox:disabled + label:before {
  background-position: 0 -6rem;
}

.generic-checkbox:checked:disabled + label:before {
  background-position: 0 -9rem;
}

#things a {
  text-decoration: none;
}
