/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.thing {
  width: 12.8rem;
  text-align: center;
  margin: 1rem;
  display: inline-block;
}

.thing-icon {
  width: 12.8rem;
  height: 12.8rem;
}

.thing-name {
  color: white;
  font-size: 1.3rem;
}
