/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
.thing {
  width: 12.8rem;
  text-align: center;
  margin: 1rem;
  display: inline-block;
}

.thing-icon {
  width: 12.8rem;
  height: 12.8rem;
  background-size: 12.8rem;
  background-repeat: no-repeat;
  background-image: url('../images/unknown-thing.png');
}

.thing-name {
  color: white;
  font-size: 1.3rem;
  display: block;
  width: 12.8rem;
  height: 3.2rem;
  overflow: hidden;
  margin: 0.5rem 0;
}


/* On/Off Switch */

.on-off-switch .thing-icon {
  background-image: url('../images/on-off-switch.png');
}

.on-off-switch.on .thing-icon {
  background-image: url('../images/on-off-switch-on.png');
}

.on-off-switch.off .thing-icon {
  background-image: url('../images/on-off-switch-off.png');
}

/* Binary Sensor */

.binary-sensor .thing-icon {
  background-image: url('../images/binary-sensor.png');
}

.binary-sensor.on .thing-icon {
  background-image: url('../images/binary-sensor-on.png');
}

.binary-sensor.off .thing-icon {
  background-image: url('../images/binary-sensor-off.png');
}
