/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#things-view {
  height: 100%;
  box-sizing: border-box;
}

#things-container {
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.things-pad {
  flex: 1 7.6rem;
  min-height: 7.6rem;
}

#add-button {
  bottom: 2rem;
  right: 2rem;
  background-image: url('../optimized-images/add.svg');
}

#add-thing-back-button {
  background-color: transparent;
}
