<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Things Gateway</title>
    <link rel="manifest" href="/app.webmanifest">
    <link rel="icon" href="/images/icon.png" type="image/png" />

    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/css/things.css" />
    <link rel="stylesheet" type="text/css" href="/css/adapters.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/add-thing.css" />
    <link rel="stylesheet" type="text/css" href="/css/context-menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/thing.css" />
    <link rel="stylesheet" type="text/css" href="/css/adapter.css" />
    <link rel="stylesheet" type="text/css" href="/css/floorplan.css" />
    <link rel="stylesheet" type="text/css" href="/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="/css/rules-common.css" />
    <link rel="stylesheet" type="text/css" href="/css/rules.css" />
    <link rel="stylesheet" type="text/css" href="/css/rule.css" />

    <script type="text/javascript" src="/js/api.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/lib/page.js"></script>
    <script type="text/javascript" src="/js/router.js"></script>
    <script type="text/javascript" src="/js/things.js"></script>
    <script type="text/javascript" src="/js/adapters.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/add-thing.js"></script>
    <script type="text/javascript" src="/js/context-menu.js"></script>
    <script type="text/javascript" src="/js/thing.js"></script>
    <script type="text/javascript" src="/js/on-off-switch.js"></script>
    <script type="text/javascript" src="/js/binary-sensor.js"></script>
    <script type="text/javascript" src="/js/new-thing.js"></script>
    <script type="text/javascript" src="/js/adapter.js"></script>
    <script type="text/javascript" src="/js/check-user.js"></script>
    <script type="text/javascript" src="/js/floorplan.js"></script>
    <script type="text/javascript" src="/js/settings.js"></script>
    <script type="text/javascript" src="/js/lib/stm_web.min.js"></script>
    <script type="text/javascript" src="/js/speech.js"></script>

    <script type="text/javascript" src="/js/rules/DevicePropertyBlock.js"></script>
    <script type="text/javascript" src="/js/rules/Draggable.js"></script>
    <script type="text/javascript" src="/js/rules/Gateway.js"></script>
    <script type="text/javascript" src="/js/rules/PropertySelect.js"></script>
    <script type="text/javascript" src="/js/rules/Rule.js"></script>
    <script type="text/javascript" src="/js/rules/RuleCard.js"></script>
    <script type="text/javascript" src="/js/rules-screen.js"></script>
    <script type="text/javascript" src="/js/rule-screen.js"></script>

  </head>
  <body>
    <img id="wordmark" src="/images/moziot-wordmark.png" />

    <!-- Things View -->
    <section data-view="things" class="selected" id="things-view">
      <div id="things"></div>
      <button id="add-button" class="icon-button"></button>
    </section>

    <!-- Adapters View -->
    <section data-view="adapters" id="adapters-view" class="hidden">
      <div id="adapters">No adapters detected.</div>
    </section>

    <!-- Floorplan View -->
    <section data-view="floorplan" id="floorplan-view" class="hidden">
      <div id="floorplan">
        <svg id="floorplan-things" version="1.1" baseProfile="full" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        </svg>
      </div>
      <form id="floorplan-upload-form" class="hidden">
        <button id="floorplan-upload-button" class="text-button">Upload floorplan...</button>
        <div class="hint">(.svg recommended)</div>
      </form>
      <button id="floorplan-edit-button" class="icon-button"></button>
      <button id="floorplan-done-button" class="hidden icon-button"></button>
      <input id="floorplan-file-input" type="file" name="upload" accept="image/*">
    </section>

    <!-- Settings View -->
    <section data-view="settings" id="settings-view" class="hidden">
      <nav id="settings-menu" class="hidden">
        <ul>
          <li class="settings-item"><a id="domain-settings-link" href="/settings/domain">Domain</a></li>
          <li class="settings-item"><a id="user-settings-link" href="/settings/users">Users</a></li>
          <li class="settings-item"><a id="experiment-settings-link" href="/settings/experiments">Experiments</a></li>
        </ul>
      </nav>
      <section id="domain-settings" class="hidden settings-section">
        <div id="current-domain"></div>
      </section>
      <section id="user-settings" class="hidden settings-section">
        <div id="current-user">
          <span id="current-user-name"></span><span id="current-user-name"></span>
          <span id="current-user-email"></span><span id="current-user-email"></span>
        </div>
      </section>
      <section id="experiment-settings" class="hidden settings-section">
        <ul>
          <li id="floorplan-experiment-item" class="experiment-item">
            <input id="floorplan-experiment-checkbox" class="experiment-checkbox" type="checkbox">
            <label for="floorplan-experiment-checkbox">Floorplan</label>
          </li>
          <li id="speech-experiment-item" class="experiment-item">
            <input id="speech-experiment-checkbox" class="experiment-checkbox"
                   type="checkbox">
            <label for="speech-experiment-checkbox">Speech Commands</label>
          </li>
          <li id="rules-experiment-item" class="experiment-item">
            <input id="rules-experiment-checkbox" class="experiment-checkbox" type="checkbox">
            <label for="rules-experiment-checkbox">Rules</label>
          </li>
        </ul>
      </section>
      <a href="/settings" id="settings-back-button" class="hidden back-button icon-button"></a>
    </section>

    <!-- Rules View -->
    <section data-view="rules" id="rules-view" class="hidden">
      <div class="title-bar">
        <h3 class="rules-header">Rules</h3>
      </div>
      <div id="rules">
      </div>
      <button id="create-rule-button" class="icon-button"></button>
    </section>

    <section data-view="rule" id="rule-view" class="hidden">
      <div class="title-bar">
        <a href="/rules" class="back-button icon-button"></a>
        <div class="rule-info">
          <h1><span class="rule-name">Rule Name</span><img src="/images/customize-16.svg" class="rule-name-customize"/></h1>
          <p>Rule Description</p>
        </div>
        <button id="delete-button">
          <img src="/images/delete-16.svg" alt="Delete" width="40" height="40"/>
        </button>
      </div>
      <div id="rule-area">
        <div id="onboarding-hint">
         <div class="drag-hint">
            <div class="drag-hint-container">
              <h2>Drag your devices here to start creating a rule</h2>
            </div>
          </div>
        </div>
        <div id="drag-hint">
          <div class="drag-hint-trigger drag-hint">
            <div class="drag-hint-container">
              <p>Add device as input</p>
              <div class="drag-hint-block device-block">+</div>
            </div>
          </div>
          <div class="drag-hint-effect drag-hint">
            <div class="drag-hint-container">
              <p>Add device as output</p>
              <div class="drag-hint-block device-block">+</div>
            </div>
          </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" id="connection">
          <circle class="trigger" r="6"></circle>
          <circle class="effect" r="6"></circle>
          <path d=""></path>
        </svg>
      </div>
      <div id="devices-list">
        <div id="delete-area">
          <div class="delete-container">
            <h2 class="delete-prompt">Drop devices here to disconnect</h2>
          </div>
        </div>
      </div>
      <div id="rule-delete-overlay">
        <div class="rule-delete-dialog">
          <p>Are you sure you want to remove this rule permanently?</p>
          <input class="rule-delete-cancel-button" type="button"
                 value="Cancel"/>
          <input class="rule-delete-confirm-button" type="button"
                 value="Remove Rule"/>
        </div>
      </div>
    </section>

    <!-- Menu -->
    <nav id="main-menu" class="hidden">
      <ul>
        <li><a id="things-menu-item" href="/things" class="selected">Things</a></li>
        <li><a id="rules-menu-item" href="/rules" class="hidden">Rules</a></li>
        <li><a id="adapters-menu-item" href="/adapters">Adapters</a></li>
        <li><a id="floorplan-menu-item" href="/floorplan" class="hidden">Floorplan</a></li>
        <li><a id="settings-menu-item" href="/settings">Settings</a></li>
        <li>
          <form id="logout" class="log-out-form">
            <button type="submit" class="log-out-button text-button">Log out</button>
          </form>
        </li>
      </ul>
    </nav>

    <!-- Floating buttons -->
    <button id="menu-button"></button>
    <!-- Speech button -->
    <button id="speech-button" class="icon-button hidden"></button>
    <!-- Add Thing Screen -->
    <div id="add-thing-screen" class="hidden dialog">
      <button id="add-thing-back-button" class="back-button icon-button"></button>
      <div id="add-thing-content">
        <p id="add-thing-status">
          <img class="spinner" src="/images/loading.gif" />Scanning for new devices...
        </p>
        <div id="new-things"></div>
        <button id="add-thing-cancel-button" class="text-button">Done</button>
      </div>
    </div>

    <!-- Context Menu -->
    <div id="context-menu" class="hidden dialog">
      <button id="context-menu-back-button" class="back-button icon-button"></button>
      <h1 id="context-menu-heading"></h1>
      <div id="context-menu-content">
        <button id="remove-thing-button" class="context-menu-button danger">
          Remove
        </button>
      </div>
    </div>

  </body>
</html>
