<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#75AACF">
    <title>Things Gateway</title>
    <link rel="manifest" href="/app.webmanifest">
    <link rel="icon" href="/images/icon.png" type="image/png" />

    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/css/things.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/add-thing.css" />
    <link rel="stylesheet" type="text/css" href="/css/context-menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/thing.css" />
    <link rel="stylesheet" type="text/css" href="/css/floorplan.css" />
    <link rel="stylesheet" type="text/css" href="/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="/css/rules-common.css" />
    <link rel="stylesheet" type="text/css" href="/css/rules.css" />
    <link rel="stylesheet" type="text/css" href="/css/rule.css" />

    <script type="text/javascript" src="/js/api.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/lib/page.js"></script>
    <script type="text/javascript" src="/js/router.js"></script>
    <script type="text/javascript" src="/js/things.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/add-thing.js"></script>
    <script type="text/javascript" src="/js/context-menu.js"></script>
    <script type="text/javascript" src="/js/thing-detail-layout.js"></script>
    <script type="text/javascript" src="/js/thing.js"></script>
    <script type="text/javascript" src="/js/color-detail.js"></script>
    <script type="text/javascript" src="/js/label-detail.js"></script>
    <script type="text/javascript" src="/js/level-detail.js"></script>
    <script type="text/javascript" src="/js/on-off-detail.js"></script>
    <script type="text/javascript" src="/js/on-off-switch.js"></script>
    <script type="text/javascript" src="/js/binary-sensor.js"></script>
    <script type="text/javascript" src="/js/multi-level-sensor.js"></script>
    <script type="text/javascript" src="/js/smart-plug.js"></script>
    <script type="text/javascript" src="/js/on-off-light.js"></script>
    <script type="text/javascript" src="/js/color-light.js"></script>
    <script type="text/javascript" src="/js/multi-level-switch.js"></script>
    <script type="text/javascript" src="/js/dimmable-light.js"></script>
    <script type="text/javascript" src="/js/dimmable-color-light.js"></script>
    <script type="text/javascript" src="/js/unknown-thing.js"></script>
    <script type="text/javascript" src="/js/new-thing.js"></script>
    <script type="text/javascript" src="/js/check-user.js"></script>
    <script type="text/javascript" src="/js/floorplan.js"></script>
    <script type="text/javascript" src="/js/adapter.js"></script>
    <script type="text/javascript" src="/js/installed-addon.js"></script>
    <script type="text/javascript" src="/js/discovered-addon.js"></script>
    <script type="text/javascript" src="/js/user.js"></script>
    <script type="text/javascript" src="/js/settings.js"></script>
    <script type="text/javascript" src="/js/lib/stm_web.min.js"></script>
    <script type="text/javascript" src="/js/speech.js"></script>

    <script type="text/javascript" src="/js/rules/RulePartBlock.js"></script>
    <script type="text/javascript" src="/js/rules/DevicePropertyBlock.js"></script>
    <script type="text/javascript" src="/js/rules/TimeTriggerBlock.js"></script>
    <script type="text/javascript" src="/js/rules/Draggable.js"></script>
    <script type="text/javascript" src="/js/rules/Gateway.js"></script>
    <script type="text/javascript" src="/js/rules/PropertySelect.js"></script>
    <script type="text/javascript" src="/js/rules/Rule.js"></script>
    <script type="text/javascript" src="/js/rules/RuleCard.js"></script>
    <script type="text/javascript" src="/js/rules-screen.js"></script>
    <script type="text/javascript" src="/js/rule-screen.js"></script>

  </head>
  <body>
    <img id="wordmark" alt="Mozilla IoT" src="/images/moziot-wordmark.png" />

    <!-- Things View -->
    <section data-view="things" class="selected" id="things-view">
      <div id="thing-title" class="hidden">
        <div id="thing-title-back-flex"></div>
        <div id="thing-title-container">
          <img id="thing-title-icon" alt="Thing Title" src="#" />
          <span id="thing-title-name"></span>
        </div>
        <div id="thing-title-speech-flex"></div>
      </div>
      <div id="things"></div>
      <button id="add-button" class="icon-button"></button>
    </section>

    <!-- Floorplan View -->
    <section data-view="floorplan" id="floorplan-view" class="hidden">
      <div id="floorplan">
        <svg id="floorplan-things" version="1.1" baseProfile="full" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
        </svg>
      </div>
      <form id="floorplan-upload-form" class="hidden">
        <button id="floorplan-upload-button" class="text-button">Upload floorplan...</button>
        <div class="hint">(.svg recommended)</div>
      </form>
      <button id="floorplan-edit-button" class="icon-button"></button>
      <button id="floorplan-done-button" class="hidden icon-button"></button>
      <input id="floorplan-file-input" type="file" name="upload" accept="image/*">
    </section>

    <!-- Settings View -->
    <section data-view="settings" id="settings-view" class="hidden">
      <nav id="settings-menu" class="hidden">
        <ul>
          <li class="settings-item"><a id="domain-settings-link" href="/settings/domain">Domain</a></li>
          <li class="settings-item"><a id="user-settings-link" href="/settings/users">Users</a></li>
          <li class="settings-item"><a id="adapter-settings-link" href="/settings/adapters">Adapters</a></li>
          <li class="settings-item"><a id="addon-settings-link" href="/settings/addons">Add-ons</a></li>
          <li class="settings-item"><a id="experiment-settings-link" href="/settings/experiments">Experiments</a></li>
          <li class="settings-item"><a id="update-settings-link" href="/settings/updates">Updates</a></li>
          <li class="settings-item"><a id="authorization-settings-link" href="/settings/authorizations">Authorizations</a></li>
        </ul>
      </nav>
      <section id="domain-settings" class="hidden settings-section">
        <div id="current-domain" class="settings-container"></div>
      </section>
      <section id="user-settings" class="hidden settings-section">
        <section id="user-settings-main" class="hidden settings-subsection">
          <ul id="users-list">
          </ul>
          <button id="add-user-button" class="icon-button"></button>
        </section>
        <section id="user-settings-edit" class="hidden settings-subsection">
          <form id="edit-user-form" class="user-form">
            <input type="text" id="user-settings-edit-name" name="name"
              placeholder="Name" required>
            <input type="email" id="user-settings-edit-email" name="email"
              placeholder="Email" required>
            <input type="password" id="user-settings-edit-password"
              name="password" placeholder="Password" required>
            <input type="password" id="user-settings-edit-new-password"
              name="confirm-password" placeholder="New Password (Optional)">
            <input type="password" id="user-settings-edit-confirm-password"
              name="confirm-password" placeholder="Confirm New Password">
            <div id="user-settings-edit-password-mismatch" class="error hidden">
              Passwords do not match
            </div>
            <div id="user-settings-edit-error" class="error hidden"></div>
            <button id="user-settings-edit-save" class="user-settings-save"
              type="submit">Save</button>
          </form>
        </section>
        <section id="user-settings-add" class="hidden settings-subsection">
          <form id="add-user-form" class="user-form">
            <input type="text" id="user-settings-add-name" name="name"
              placeholder="Name" required>
            <input type="email" id="user-settings-add-email" name="email"
              placeholder="Email" required>
            <input type="password" id="user-settings-add-password"
              name="password" placeholder="Password" required>
            <input type="password" id="user-settings-add-confirm-password"
              name="confirm-password" placeholder="Confirm Password" required>
            <div id="user-settings-add-password-mismatch" class="error hidden">
              Passwords do not match
            </div>
            <div id="user-settings-add-error" class="error hidden"></div>
            <button id="user-settings-add-save" class="user-settings-save"
              type="submit">Save</button>
          </form>
        </section>
      </section>
      <section id="adapter-settings" class="hidden settings-section">
        <div id="no-adapters">No adapters present.</div>
        <ul id="adapters-list" class="hidden">
        </ul>
      </section>
      <section id="addon-settings" class="hidden settings-section">
        <section id="addon-main-settings" class="hidden settings-subsection">
          <ul id="installed-addons-list">
          </ul>
          <button id="discover-addons-button" class="icon-button"></button>
        </section>
        <section id="addon-discovery-settings" class="hidden settings-subsection">
          <ul id="discovered-addons-list">
          </ul>
        </section>
      </section>
      <section id="experiment-settings" class="hidden settings-section">
        <ul>
          <li id="floorplan-experiment-item" class="experiment-item">
            <input id="floorplan-experiment-checkbox" class="experiment-checkbox" type="checkbox">
            <label for="floorplan-experiment-checkbox">Floorplan</label>
          </li>
          <li id="speech-experiment-item" class="experiment-item">
            <input id="speech-experiment-checkbox" class="experiment-checkbox"
                   type="checkbox">
            <label for="speech-experiment-checkbox">Speech Commands</label>
          </li>
          <li id="rules-experiment-item" class="experiment-item">
            <input id="rules-experiment-checkbox" class="experiment-checkbox" type="checkbox">
            <label for="rules-experiment-checkbox">Rules</label>
          </li>
        </ul>
      </section>
      <section id="update-settings" class="hidden settings-section">
        <ul>
          <!-- TODO(hobinjk): allow disabling automatic updates -->
          <li class="update-item" id="up-to-date-container">
            <p id="update-settings-up-to-date"></p>
            <button id="update-now" class="text-button hidden">Update Now</button>
          </li>
          <li class="update-item">
            <p id="update-settings-version"></p>
            <p id="update-settings-status"></p>
          </li>
        </ul>
      </section>
      <section id="authorization-settings" class="hidden settings-section">
        <div id="no-authorizations" class="hidden">No authorizations.</div>
        <ul id="authorizations">
        </ul>
      </section>
      <a href="/settings" id="settings-back-button" class="hidden back-button icon-button"></a>
    </section>

    <!-- Rules View -->
    <section data-view="rules" id="rules-view" class="hidden">
      <div class="title-bar">
        <h3 class="rules-header">Rules</h3>
      </div>
      <div id="rules">
        <div id="create-rule-hint" class="hidden">
          No rules created. Click the plus button to create a rule.
        </div>
      </div>
      <button id="create-rule-button" class="icon-button"></button>
    </section>

    <section data-view="rule" id="rule-view" class="hidden">
      <div class="title-bar">
        <a href="/rules" class="back-button icon-button"></a>
        <div class="rule-info">
          <h1>
            <span class="rule-name">Rule Name</span>
            <img src="/images/customize-16.svg" alt="Customize Rule Name" class="rule-name-customize"/>
          </h1>
          <p>Rule Description</p>
        </div>
        <button id="delete-button">
          <img src="/images/delete-16.svg" alt="Delete" width="40" height="40"/>
        </button>
      </div>
      <div id="rule-area">
        <div id="onboarding-hint">
         <div class="drag-hint">
            <div class="drag-hint-container">
              <h2>Drag your devices here to start creating a rule</h2>
            </div>
          </div>
        </div>
        <div id="drag-hint">
          <div class="drag-hint-trigger drag-hint">
            <div class="drag-hint-container">
              <p>Add device as input</p>
              <div class="drag-hint-block device-block">+</div>
            </div>
          </div>
          <div class="drag-hint-effect drag-hint">
            <div class="drag-hint-container">
              <p>Add device as output</p>
              <div class="drag-hint-block device-block">+</div>
            </div>
          </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" id="connection">
          <circle class="trigger" r="6"></circle>
          <circle class="effect" r="6"></circle>
          <path d=""></path>
        </svg>
      </div>
      <div id="rule-parts-list-container">
        <button id="rule-parts-list-scroll-left">
          <img class="scroll-icon" alt="Scroll Left" src="/images/arrowhead-left-16.svg"/>
        </button>
        <button id="rule-parts-list-scroll-right">
          <img class="scroll-icon" alt="Scroll Right" src="/images/arrowhead-right-16.svg"/>
        </button>
        <div id="delete-area">
          <div class="delete-container">
            <h2 class="delete-prompt">Drop devices here to disconnect</h2>
          </div>
        </div>
        <div id="rule-parts-list"></div>
      </div>
      <div id="rule-delete-overlay">
        <div class="rule-delete-dialog">
          <p>Are you sure you want to remove this rule permanently?</p>
          <input class="rule-delete-cancel-button" type="button"
                 value="Cancel"/>
          <input class="rule-delete-confirm-button" type="button"
                 value="Remove Rule"/>
        </div>
      </div>
    </section>

    <!-- Menu -->
    <nav id="main-menu" class="hidden">
      <ul>
        <li><a id="things-menu-item" href="/things" class="selected">Things</a></li>
        <li><a id="rules-menu-item" href="/rules">Rules</a></li>
        <li><a id="floorplan-menu-item" href="/floorplan">Floorplan</a></li>
        <li><a id="settings-menu-item" href="/settings">Settings</a></li>
        <li>
          <form id="logout" class="log-out-form">
            <button type="submit" class="log-out-button text-button">Log out</button>
          </form>
        </li>
      </ul>
    </nav>

    <!-- Floating buttons -->
    <button id="menu-button"></button>
    <button id="back-button" class="hidden"></button>

    <!-- Speech button -->
    <div id="speech-wrapper" class="hidden">
      <button id="speech-button" class="icon-button"></button>
      <canvas id="stm-levels" class="hidden"></canvas>
      <div id="snackbar">Some text some message..</div>
    </div>
    <!-- Add Thing Screen -->
    <div id="add-thing-screen" class="hidden dialog">
      <button id="add-thing-back-button" class="back-button icon-button"></button>
      <div id="add-thing-content">
        <p id="add-thing-status">
          <img class="spinner" alt="Scanning" src="/images/loading.gif" />Scanning for new devices...
        </p>
        <p id="add-adapters-hint" class="hidden">
          No new things found. Try <a id="add-adapters-hint-anchor" href="/settings/addons">adding some add-ons</a>.
        </p>
        <div id="new-things"></div>
        <button id="add-thing-cancel-button" class="text-button">Done</button>
      </div>
    </div>

    <!-- Context Menu -->
    <div id="context-menu" class="hidden dialog">
      <button id="context-menu-back-button" class="back-button icon-button"></button>
      <h1 id="context-menu-heading"></h1>
      <div id="context-menu-content">
        <button id="remove-thing-button" class="context-menu-button danger">
          Remove
        </button>
      </div>
    </div>

  </body>
</html>
