<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title data-l10n-id="router-setup-title">Router Setup - WebThings Gateway</title>
    <link rel="stylesheet" type="text/css" href="/css/router-setup.css" />
    <link rel="icon" href="/images/icon.png" type="image/png" />
  </head>
  <body>
    <form action="/creating" method="post" id="mainform">
      <div id="maindiv">
        <h3 data-l10n-id="router-setup-header"></h3>
        <br>
        <input id="ssid" name="ssid" type="text" value="{{ssid}}"
          data-l10n-id="router-setup-input-ssid" required minlength="1" maxlength="32"
          class="item ssid">
        <input id="password" name="password" type="password" value=""
          data-l10n-id="router-setup-input-password" minlength="8" class="item password"
          required>
        <input id="password-confirm" name="password-confirm" type="password"
          value="" data-l10n-id="router-setup-input-confirm-password" class="item password"
          required>
        <br>
        <br>
        <input type="submit" name="create" data-l10n-id="router-setup-create" class="item create">
      </div>
      <img id="wordmark" data-l10n-id="wordmark" src="/images/webthings-gateway-lockup.svg" />
    </form>
  </body>
</html>
