body {
  display: flex;
  flex-direction: column;
}

#title-bar {
  width: 100%;
  height: 120px;
  display: flex;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 10;
  background: white;
}

#back-button {
  border: 0;
  background: #4a4a4a;
  color: white;
  width: 120px;
  height: 120px;
}

#back-button:active {
  background: #222;
}

#back-button > img {
  margin: 40px;
  padding: 0;
}

#delete-button {
  background: none;
  border: 0;
  width: 120px;
  height: 120px;
}

#delete-button:active {
  background: #777;
}

.rule-info {
  padding-left: 48px;
  flex: 1;
}

.rule-info h1 {
  color: #4a4a4a;
  margin: 0;
  margin-top: 8px;
  font-weight: normal;
}

.rule-name-customize {
  width: 0.7em;
  height: 0.7em;
  padding: 0.2em 0.4em;
  padding-bottom: 0;
  cursor: pointer;
}

.rule-info p {
  color: #9b9b9b;
  font-size: 20px;
}

#rule-area {
  position: relative;
  background: url(images/background.png);
  flex: 1;
}

#rule-area.drag-location-hint > #drag-hint {
  display: flex;
}

#drag-hint {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.drag-hint {
  flex: 1;
  position: relative;
}

.drag-hint-trigger {
  background: rgba(69, 161, 255, 0.3);
}

.drag-hint-action {
  background: rgba(48, 230, 11, 0.3);
}

.drag-hint.inactive {
  background: rgba(127, 127, 127, 0.3);
}

.drag-hint.inactive > .drag-hint-container {
  display: none;
}

.drag-hint-block.device-block {
  background: none;
  border: 1px dashed black;
  text-align: center;
  line-height: 100px;
  font-size: 24px;
  margin: 14px auto;
}

#devices-list {
  box-shadow: 0 -1px 3px rgba(0,0,0,0.12), 0 -1px 2px rgba(0,0,0,0.24);
  z-index: 10;
  background: white;
  position: relative;
}

#devices-list > h3,
#devices-list p {
  padding-left: 14px;
}

.device-block {
  display: block;
}

.device {
  display: inline-block;
  vertical-align: bottom;
}

.device-property-block {
  position: absolute;
  width: 300px;
  display: flex;
}

.device-property-block > .device-block {
  margin: 0;
}

.device-property-info {
  flex: 1;
  background: white;
  display: inline-block;
  vertical-align: bottom;
}

.device-name {
  margin: 0 24px;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
}

.property-select-option {
  background: #4a4a4a;
  height: 50px;
  line-height: 50px;
  color: white;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  display: none;
  cursor: pointer;
}

.property-select-option.selected {
  display: block;
  position: relative;
}

.property-select-option.selected:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: translate(1px, 35px) rotate(135deg);
}

.property-select.open > .property-select-option.selected:after {
  display: none;
}

.property-select.open > .property-select-option {
  display: block;
}

.property-select-option:hover {
  background: #9b9b9b;
}

.dragging {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 20;
}

#delete-area.delete-active {
  display: block;
}

#delete-area {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
}

.delete-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px dashed black;
  box-sizing: border-box;
}

.delete-prompt, .drag-hint-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}

#rule-delete-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background: rgba(64, 64, 64, 0.8);
}

.rule-delete-dialog {
  display: block;
  font-size: 24px;
  width: 24rem;
}

#rule-delete-overlay.active {
  display: block;
}
