/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
@font-face {
  font-family: 'Zilla Slab';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/ZillaSlab-Regular.woff2") format("woff2"), url("/fonts/ZillaSlab-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Zilla Slab';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/ZillaSlab-Bold.woff2") format("woff2"), url("/fonts/ZillaSlab-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Zilla Slab';
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/ZillaSlab-RegularItalic.woff2") format("woff2"), url("/fonts/ZillaSlab-RegularItalic.woff") format("woff");
}
@font-face {
  font-family: 'Zilla Slab';
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/ZillaSlab-BoldItalic.woff2") format("woff2"), url("/fonts/ZillaSlab-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/opensans-regular.woff2") format("woff2"), url("/fonts/opensans-regular.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/opensans-bold.woff2") format("woff2"), url("/fonts/opensans-bold.woff") format("woff");
}

html {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.device-block {
  margin: 14px;
  padding: 0;
  width: 100px;
  height: 100px;
  background: #787878;
  display: inline-block;
  vertical-align: bottom;
}

.device-block.trigger {
  background: #45a1ff;
}

.device-block.action {
  background: #30e60b;
}

.device-icon {
  margin: 27px;
  padding: 0;
}

.rule-edit-button, .rule-delete-cancel-button, .rule-delete-confirm-button {
  background: #ededed;
  border: none;
  border-radius: 3px;
  color: #404040;
  padding: 12px 24px;
  font-size: 20px;
  cursor: pointer;
}

.rule-edit-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rule-edit-button:active, .rule-delete-cancel-button:active {
  background: rgba(237, 237, 237, 0.7);
}

.rule-delete-confirm-button {
  background: rgb(215, 0, 34);
  color: white;
  float: right;
}

.rule-delete-confirm-button:active {
  background: rgba(215, 0, 34, 0.7);
}

.rule-delete-dialog {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 75%;
}
