Source: webthings-gateway
Maintainer: WebThingsIO <team@webthings.io>
Section: web
Priority: optional
Standards-Version: 4.3.0
Homepage: https://webthings.io/gateway/
Build-Depends: debhelper (>= 9), nodejs (>= 8), {{npm}} git, python, python3, python3-pip, python3-setuptools, libffi-dev, libpython3-dev, libpng-dev, pkg-config, {{setpriv}} zlib1g-dev

Package: webthings-gateway
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, {{nodejs}}, python-six, lsb-release, {{python3}}, python3-pip, libffi6, adduser, sudo
Recommends: alsa-utils, arping, avahi-daemon, ffmpeg, mosquitto, sqlite3
Description: WebThings Gateway
 Web of Things gateway, which can bridge existing Internet of Things (IoT)
 devices to the web.
